# Ignore everyghing except .gitignore and composer.*
/*
!/.gitignore
!/composer.*
!/wp-content/
/wp-content/*

# Version-controlled config
!/wp-content/config/

# Version-controlled plugins
!/wp-content/mu-plugins/
!/wp-content/plugins/
/wp-content/plugins/*

# Version-controlled themes
!/wp-content/themes/
/wp-content/themes/*
!/wp-content/themes/boilerplate
